@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Universal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-thin {
  font-weight: 300;
  color: #ffffff;
}

.section-heading {
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 2.188rem;
  color: #1f2428;
}

.section-heading h2 {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.section-heading p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

main {
  margin-top: 6rem;
}

/* Header styles */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 1.125rem;
  font-family: Poppins, sans-serif;
  background-color: #1f2428;
}

header h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #cc7d37;
}

header nav ul {
  display: flex;
}

header nav ul li {
  font-size: 1.25rem;
  list-style: none;
}

header nav ul li a {
  color: #d9d9d9;
  text-decoration: none;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

header button {
  background-color: #cc7d37;
  border: none;
  border-radius: 25px;
  padding: 0.625rem 1.25rem;
}

header button a {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

/* Hero styles */

#hero-section {
  background-image: url(/images/landing-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-section h1 {
  font-family: Merriweather, serif;
  font-size: 4rem;
  text-align: right;
}

#hero-section p {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin-top: 3.25rem;
}

.hero-highlight {
  color: #cc7d37;
  font-style: italic;
}

.hero-container {
  color: #ffffff;
  padding-top: 10.25rem;
  padding-bottom: 10.25rem;
  padding-right: 5rem;
  padding-left: 34.75rem;
  max-width: 100%;
}

/* Portfolio Styles */

#portfolio-section {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 5.625rem;
}

#portfolio-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio-image-grid img {
  max-height: 20rem;
  /* margin: 1.25rem; */
}

/* Portfolio Styles */

#portfolio-section {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 5.625rem;
}

#portfolio-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio-image-grid img {
  max-height: 20rem;
  margin: 1.25rem;
}

/* Employee section */

#employee-section {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 5.625rem;
  background-color: #92a48a;
}

#employee-bio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#employee-bio-container .employee-box {
  padding: 1.5rem 5rem;
}

#employee-bio-container .employee-box img {
  max-height: 28.125rem;
  max-width: 23.125rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.employee-box h2 {
  color: #ffffff;
  font-family: Merriweather, serif;
  font-size: 2rem;
  font-weight: bold;
}

.employee-box p {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  max-width: 18rem;
}

.employee-text {
  padding-top: 5.625rem;
  padding-bottom: 1.625rem;
  color: #ffffff;
}

.tenure {
  font-size: 1rem;
  font-style: italic;
}
