@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Universal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo-thin {
  font-weight: 300;
  color: #ffffff;
}

.section-heading {
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 2.188rem;
  color: #1f2428;
}

.section-heading h2 {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.section-heading p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/* Header styles */

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  font-family: Poppins, sans-serif;
  background-color: #1f2428;
}

header h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #cc7d37;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav ul li {
  font-size: 1.1rem;
  list-style: none;
}

header nav ul li a {
  color: #d9d9d9;
  text-decoration: none;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

header button {
  background-color: #cc7d37;
  border: none;
  border-radius: 25px;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
}

header button:hover {
  background-color: #ffffff;
  color: #cc7d37;
}

header button a {
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

/* Hero styles */

#hero-section {
  background-image: url("../images/landing-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-section h1 {
  font-family: Merriweather, serif;
  font-size: 4rem;
  text-align: right;
}

#hero-section p {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin-top: 3.25rem;
}

.hero-highlight {
  color: #cc7d37;
  font-style: italic;
}

.hero-container {
  color: #ffffff;
  padding-top: 10.25rem;
  padding-bottom: 10.25rem;
  padding-right: 5rem;
  padding-left: 34.75rem;
  max-width: 100%;
}

/* Portfolio Styles */

#portfolio-section {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5.625rem;
}

#portfolio-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio-image-grid img {
  max-height: 20rem;
  /* margin: 1.25rem; */
}

/* Portfolio Styles */

#portfolio-section {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 5.625rem;
}

#portfolio-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio-image-grid img {
  max-width: 100%;
  height: auto;
  margin: 1.25rem;
}

/* Employee section */

#employee-section {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5.625rem;
  background-color: #92a48a;
  background-image: url("../images/employee-background-green-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#employee-bio-container {
  display: flex;
  overflow: scroll;
}

#employee-bio-container .employee-box {
  padding: 1.5rem 0.5rem;
}

#employee-bio-container .employee-box img {
  max-height: 28.125rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 37px -9px rgba(31,36,40,1);
}

.employee-box h2 {
  color: #ffffff;
  font-family: Merriweather, serif;
  font-size: 2rem;
  font-weight: bold;
}

.employee-box p {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  max-width: 18rem;
}

.employee-text {
  padding-top: 5.625rem;
  padding-bottom: 1.625rem;
  color: #ffffff;
}

.tenure {
  font-size: 1rem;
  font-style: italic;
}

/* Contact section */

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 6.375rem;
  padding-bottom: 6.375rem;
  padding-right: 8.4375rem;
  padding-left: 8.4375rem;
}

#contact-us img {
  max-height: 24.56rem;
  border-radius: 10px;
}

.contact-info {
  max-width: 42.5rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-info h1 {
  font-family: Merriweather, serif;
  color: #1f2428;
  font-size: 2rem;
  margin-bottom: 0.375rem;
}

.contact-info p {
  display: inline-block;
  font-family: Poppins, sans-serif;
  color: #1f2428;
  font-size: 1.3rem;
  margin-bottom: 0.375rem;
}

.contact-info svg {
  color: #1f2428;
  margin-right: 0.7rem;
}

.icon {
  display: flex;
  align-items: baseline;
}

#contact-us fieldset {
  border: none;
}

#contact-us fieldset input {
  display: block;
  margin-bottom: 0.875rem;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  padding-left: 1.25rem;
  padding-right: 5rem;
  margin-right: 2rem;
  border-radius: 15px;
  border: none;
  background-color: #d9d9d9;
  font-size: 1.2rem;
  font-style: italic;
  font-family: Poppins, sans-serif;
}

#contact-us fieldset button {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  background-color: #cc7d37;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#contact-us fieldset button:hover {
  opacity: 0.9;
}

/* Footer styles */

footer {
  background-color: #1f2428;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  font-family: Poppins, sans-serif;
  color: #cc7d37;
  font-weight: bold;
  font-size: 2rem;
}

footer .footer-contact {
  font-family: Merriweather, serif;
  color: #d9d9d9;
  font-size: 1rem;
}

footer a {
  font-family: Poppins, sans-serif;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 1rem;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer .copyright {
  color: #d9d9d9;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

@media only screen and (max-width: 790px) {
  .middle {
    display: none;
  }
}

/* Media queries */

@media only screen and (max-width: 790px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 1427px) {
  #employee-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1389px) {
  #contact-us {
    background-image: url("../images/contact-us-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 4rem;
    margin-right: 5.4375rem;
    margin-left: 5.4375rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  #contact-us fieldset input {
    border: 2px solid #1f2428;
    display: block;
  }

  .contact-image {
    display: none;
  }

  .contact-info {
    justify-content: center;
    margin-right: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1023px) {
  #contact-us {
    background-image: none;
    margin: 2rem;
  }

  .contact-info svg {
    display: none;
  }
}

@media only screen and (max-width: 1420px) {
  #portfolio-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  #hero-section h1 {
    text-align: left;
    font-size: 2.5rem;
  }

  #hero-section p {
    text-align: left;
  }

  .hero-container {
    padding-top: 10.25rem;
    padding-bottom: 10.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 8rem;
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 790px) {
  .hero-container {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 870px) {
  #contact-us fieldset {
    padding: 0;
  }
  #contact-us fieldset input {
    margin-right: 0;
  }
}

@media only screen and (max-width: 463px) {
  .hero-container {
    margin: 0;
    padding: 0.4rem;
  }

  footer p {
    display: none;
  }

  .middle {
    display: initial;
  }

  #contact-us {
    margin: 1rem;
  }

  #contact-us fieldset input {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 372px) {
  .footer-box {
    justify-content: center;
  }
  
  .main-logo {
    display: none;
  }

  .hidden {
    display: initial;
  }

  .middle {
    display: none;
  }
}